/*
* @Author: yucho
* @Date:   2018-03-23 16:43:00
* @Last Modified by:   yucho
* @Last Modified time: 2018-03-23 19:22:32
*/
.player-header {
    background: #fff;
    font-size: 28px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
}